body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: url('imagenes/background.png') center no-repeat;
    background-size: cover; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    margin: 5px;
    width: 200px;
}

#canvas { 
    background: url('imagenes/background_lvl2.png') center;
    background-repeat: no-repeat;
    background-size: 600px 420px;
    border-radius: 10px;
    border: solid 5px rgb(76, 57, 44);
}

#seccionBotones {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

section > *{
    margin: 2px;
}