#canvas { 
    background-image: url('imagenes/background.png');
    border: solid 1px #000; 
    margin: 20px; 
}

#seccionBotones {
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

section > *{
    margin: 2px;
}